# Log and Issues files
*.log
*.issues

# Data
data/*
input/*
output/*
log/*
environment*

# Python created files
__pycache__
*.pyc
.DS_Store

# Code duplicated for python3
2to3/*

# Note files
notes.txt
